<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.mprog.bubbles.veganproductscanner" >

    <!--TODO Remove all TODOs before handing in-->
    <!--TODO Put Activities, Fragments, Managers, more in separate directories-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="nl.mprog.bubbles.veganproductscanner.ParseApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_barcode"
        android:label="@string/app.name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat" >

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="ygaBQHWyNlnm8uq3pFyCsSgCqLgRSsvuI0isYES7" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="NMQe2x8dMk6lFEQjN0OrrlXQ3ng9uwdhhlQKpOll" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>